@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e7eb;
}
#hero {
  position: fixed; /* Fixes the hero section to the top */
  top: 0; /* Aligns it to the top of the viewport */
  left: 0; /* Aligns it to the left */
  right: 0; /* Aligns it to the right */
  z-index: 10; /* Ensures it is above other content */
  height: 90px;
  transition: background-color 0.3s ease;
}

.bgWhite {
  background-color: white;
}

/* Toggle Btn */

.ficon:hover {
  filter: invert(43%) sepia(98%) saturate(2775%) hue-rotate(179deg)
    brightness(100%) contrast(104%);
}
/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #0070f3;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Toggle */

.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  background: #68d391;
}
